
.header {
    grid-area: h;
    background: rgb(65,158,124);
background: linear-gradient(295deg, rgba(65,158,124,1) 1%, rgba(114,215,121,1) 63%, rgba(53,213,157,1) 100%);
}
.header img { 
    width: 70px;
}