.app-wrapper{
    margin: 0;
    display: grid;
    width: 100%;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas: 'h h'
    'n c' ;
    /* grid-gap: 10px; */
}

.app-wrapper-content { 
    grid-area: c;
    background: rgb(0,114,65);
    background: linear-gradient(211deg, rgba(0,114,65,1) 0%, rgba(0,175,100,1) 100%);
}


